* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(62, 211, 203);
}

.title {
  color: crimson;
  margin-top: 1em;
  font-size: 5em;
  letter-spacing: -8px;
  font-weight: 900;
  span {
    color: rgb(27, 27, 27);
    font-size: 1.3em;
    letter-spacing: -15px;
  }
  i {
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
    font-size: 3em;
    opacity: 45%;
  }
}

input {
  padding: 0.6em;
  margin-top: 2em;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  outline: none;
  border-radius: 0.4em;
}

//* Weather Card UI

.weather-container {
  position: relative;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(253, 253, 253);
  border-radius: 0.3em;
  box-shadow: -4px 4px 35px 0px rgba(0, 0, 0, 0.5);
  color: azure;
  p {
    padding: 0.1em;
    margin: 0.5em;
  }
  .temp-display {
    background: rgb(57, 201, 184);
    font-size: 4em;
    font-weight: 700;
    color: aliceblue;
    span {
      color: rgb(255, 255, 255);
    }
  }
  .city-name-display {
    font-size: 1.9em;
    font-weight: 600;
  }
  .weather-condition-display {
    font-size: 1.5em;
    font-weight: 600;
  }
  .local-time-display {
    font-size: 1.3em;
    font-weight: 600;
  }
  .weather-icon img {
    fill: white;
    font-size: 4em;
    height: 4em;
    color: white;
    fill: white;
  }
}

.icon {
}

.pexels-img {
  border: 4px solid black;
}

.night-container {
  background: linear-gradient(rgba(100, 73, 73, 0.5), rgba(255, 255, 255, 0.5)),
    url(../assets/images/nightsky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.day-container {
  background: lightblue;
  background: linear-gradient(rgba(100, 73, 73, 0.5), rgba(255, 255, 255, 0.1)),
    url(../assets/images/daysky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
