:root {
  --dark-theme-bg: rgb(9, 9, 44);
  --dark-theme-span: rgb(238, 224, 224);
  --light-theme-bg: rgb(130, 230, 221);
  --light-theme-span: rgb(10, 8, 41);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  overflow: hidden;
}

body .title {
  color: crimson;
  margin-top: 1em;
  font-size: 5em;
  letter-spacing: -8px;
  font-weight: 900;
}

body .title span {
  color: var(--light-theme-span);
  font-size: 1.3em;
  letter-spacing: -15px;
}

body .title i {
  color: #2e817d;
  position: absolute;
  z-index: -1;
  font-size: 3em;
  opacity: 45%;
}

body .form {
  position: relative;
  height: 70px;
  overflow: hidden;
  background: transparent;
}

body .form input {
  width: 100%;
  height: 100%;
  padding: 0.5em 0 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.8em;
  font-weight: 700;
  color: #111;
}

body .form input:focus + .label-name .content-name {
  -webkit-transform: translateY(-160%);
          transform: translateY(-160%);
  font-size: 1em;
}

body .form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  font-weight: 600;
  font-size: 1.3em;
  color: #222;
}

body .form label::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #80a8a7;
  left: 0;
  bottom: -2px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

body .form .content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form input:focus + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.weather-container {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  position: relative;
  margin-bottom: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #fdfdfd;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  -webkit-box-shadow: -4px 4px 35px 5px rgba(0, 0, 0, 0.6);
          box-shadow: -4px 4px 35px 5px rgba(0, 0, 0, 0.6);
  color: azure;
}

.weather-container p {
  padding: 0.1em;
  margin: 0.5em;
}

.weather-container .temp-display {
  background: transparent;
  font-size: 4em;
  font-weight: 700;
  color: aliceblue;
}

.weather-container .temp-display span {
  color: white;
}

.weather-container .city-name-display {
  font-size: 1.9em;
  font-weight: 600;
}

.weather-container .weather-condition-display {
  font-size: 1.5em;
  font-weight: 600;
}

.weather-container .local-time-display {
  font-size: 1.3em;
  font-weight: 600;
}

.weather-container .weather-icon img {
  height: 5em;
  font-size: 3.5em;
}

.night-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 73, 73, 0.5)), to(rgba(255, 255, 255, 0.5))), url(../assets/images/nightsky.jpg);
  background: linear-gradient(rgba(100, 73, 73, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/images/nightsky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.day-container {
  background: lightblue;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 73, 73, 0.5)), to(rgba(255, 255, 255, 0.1))), url(../assets/images/daysky.jpg);
  background: linear-gradient(rgba(100, 73, 73, 0.5), rgba(255, 255, 255, 0.1)), url(../assets/images/daysky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.pexels-img img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 45%;
}

footer {
  position: absolute;
  bottom: 2%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-logo p {
  margin: 0;
}

footer p {
  margin: 1.5em 0.3em;
  font-weight: 600;
  color: #222;
}

footer span {
  font-weight: 700;
  color: black;
}

footer img {
  width: 3em;
  height: 3em;
}

footer a {
  margin: 0.2em;
}
/*# sourceMappingURL=app.css.map */